.bv-art {
    display: flex;
    background-color: black;
    width: fit-content;
    height: fit-content;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    .artist-img{
      width: 4rem;
      height: 100%;
    }
  }
  p {
    color: white;
    margin-left: 0.5rem;
    margin-bottom: 0px;
    font-size: 1.2rem;
  }